<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="input-group" th:fragment="search-form" style="display:flex;margin-bottom: 20px">
    <div class="input-group-btn search-panel"  >
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span id="search_concept">Category</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#id"><i class="fa fa-angle-double-right"></i> Action</a></li>
            <li><a href="#name"><i class="fa fa-angle-double-right"></i> Animation</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Children</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Drama</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Documentary</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Comedy </a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Horror</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Classics</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Family</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Music</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Sports</a></li>
            <li><a href="#description"><i class="fa fa-angle-double-right"></i> Travel</a></li>
        </ul>
    </div>
    <input type="hidden" name="search_param" value="name" id="search_param" />
    <input type="text" class="form-control" name="q" placeholder="Search.." id="search_key" value="" />
    <input type="text" class="form-control" name="q" placeholder="Search.." id="search_by_actor" value="" />
    <input type="text" class="form-control" name="q" placeholder="Search.." id="search_by_category" value=""  />
    <span class="input-group-btn">
			<a class="btn btn-default text-muted" href="http://adminlte.dev/user/item" title="Clear"><i class="glyphicon glyphicon-remove"></i> </a>
			<button class="btn btn-info" type="submit">  Search  </button>
	</span>
</div>
</body>
</html>